/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
* {
    margin:0;
    padding:0;
    font-family: 'Noto Serif', serif;
}

  body {
    background: linear-gradient( #F8F5F0 10%, #ffffff 90%);
  }

main {
    min-height: calc(100vh - 106px);
}

h1{
    
    text-transform: uppercase;
}

h2{
    font-size: 1.3rem;
    padding: 0.3rem 0;
    text-transform: uppercase;
}

h3 {
    padding: 1rem 0;
    text-transform: uppercase;
}


