@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap'); */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap"); */
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", serif;
}

body {
  background: #ffffff;
}

main {
  min-height: calc(100vh - 106px);
}

h1 {
  margin: 2rem 0;
  text-transform: uppercase;
}

h2 {
  font-size: 1.3rem;
  padding: 0.3rem 0;
  text-transform: uppercase;
}

h3 {
  padding: 0.5rem 0;
}

/* boostrap carousel */

.carousel {
  border-radius: 20px;
}
.carousel-caption {
  top: 0;
}

.carousel-caption h3 {
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  position: absolute;
  border-radius: 10px;
}

.carousel img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  height: 300px;
  padding: 36px;
}
